<div class="panel panel-default">
               <div class="panel-heading">
                   <h4>{{ vm.result.dt | date: dateFormat}}</h4>
                </div>
                <div class="panel-body">
                    Datetime temperature : {{ vm.result.temp }}
<!--                    Datetime temperature : {{vm.result.temp}}-->
                </div>

</div>
