<div class="panel panel-default">
               <div class="panel-heading">
                   <h4>{{ convertToDate( { dt: weatherDay.dt } ) | date: dateFormat}}</h4>
                </div>
                <div class="panel-body">
                    Datetime temperature : {{ convertToStandard( { daytimeTemp: weatherDay.temp.day })}}
<!--                    Datetime temperature : {{vm.result.temp}}-->
                </div>
               
</div>
