<p><a href="#!/" class="btn btn-primary">Back to search</a></p>


<h1>Forecast for {{ vm.city }}</h1>
Days <a href="#!/forecast/2" ng-class="{ 'bg-primary' : vm.days === '2' }">2</a> | 
        <a href="#!/forecast/5" ng-class="{ 'bg-primary' : vm.days === '5' }">5</a> | 
        <a href="#!/forecast/7" ng-class="{ 'bg-primary' : vm.days === '7' }">7</a>
<div ng-repeat="w in vm.weatherResult.list">
    <div class="row">
        <div class="col-md-6">
            <weather-report weather-day='w' convert-to-standard="vm.convertToCelsius(daytimeTemp)" convert-to-date="vm.convertToDate(dt)" date-format='dd/MM/yyyy'></weather-report>
        </div>
    </div>
</div>

<div ng-init="filtered = vm.myFilter(vm.weatherResult.list)" ng-repeat="w in filtered" >
    <div class="row"> Tests
        <div class="col-sm-6">
            <my-report result="w"></my-report>
        </div>
    </div>
</div>
