<div class="row">
    <form ng-submit="vm.submit()">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <div class="form-group">
            <input type="text" ng-model="vm.city" class="form-control" />
        </div>
        <input type="submit" class="btn btn-primary" value="Get Forecast"/>
    </div>
    </form>
</div>
